<section id="portafolio" data-aos="fade-right">
    <div class="cotainer-fluid ">
        <h2>Portafolio</h2>
        <div class="container proyectos-container">
            <% dataPortafolio.forEach(proyect => {%>
                <div class="row container-proyect" data-aos="fade-up-right">
                    <div class="">
                        <h5><%=proyect.title %> </h5>
                    </div>
                    <div class="container-fluid col-md-5">
                        <% if(proyect.type === 'yVideo'){%> <iframe class="portafolio-embed-video"  allowfullscreen="allowfullscreen" src="<%=proyect.src %>"></iframe><% } %> 
                        <% if(proyect.type === 'sImg'){%> <img class="portafolio-embed-video" src="./img/proyects/<%=proyect.src %>"></img><% } %> 
                    </div>
                    <div class="container-fluid col-md-7">
                        <div class="">
                            <div><%=proyect.description %> </div>
                            <div>Technologies</div>
                            <div>
                                <% proyect.technologies.map((technologie)=>{ %>
                                    <% if(proyect.technologies[proyect.technologies.length - 1] === technologie) {%>
                                        <%=dataImage[technologie].skill%>.
                                    <% } else{%> 
                                        <%=dataImage[technologie].skill%>,
                                    <% } %> 
                                <% }) %> </div>
                            <div>
                                <% proyect.links.map((link)=>{ %>
                                    <a class="btn <%=btnClasses[link.btnClass] %> " href="<%=link.url  %> "  target="_blank"><%=link.text %> </a>
                                <%}) %> 
                            </div>
    
                        </div>
                    </div>
                </div>
                <hr>
            <% }) %> 
        </div>
    </div>
</section>










<!-- 
<div class="row container">
    <div class="container col-md-6">
        <div class="row container-proyect">
            <div class="container-fluid">
                <div>
                    <h6>Order Files</h6>
                    <a href="https://github.com/robincajas12/SortFilesProyect"  target="_blank">Github</a>
                </div>
                <iframe class="portafolio-embed-video" src="https://www.youtube.com/embed/TMuSDWtbnBg"></iframe>
            </div>
            <div class="container-fluid">
                <p>
                    App para ordenar los archivos de las carpetas esta las ordena por tipo de archivo por el momento
                </p>
                <p>Technologies</p>
                <ul>
                    <li>HTML, CSS, JAVASCRIPT</li>
                    <li>Node.js</li>
                    <li>MongoDB</li>
                    <li>Electron</li>
                </ul>
            </div>
        </div>
        
    </div> 
</div> -->